GITHUB_TOKEN=replace_me
GITHUB_OWNER=sailaja103
GITHUB_REPO=elitea-SDLC_Capstone

CONFLUENCE_BASE_URL=https://elitea-capstone.atlassian.net/wiki
CONFLUENCE_EMAIL=replace_me
CONFLUENCE_API_TOKEN=replace_me
CONFLUENCE_SPACE_KEY=ELITEA
CONFLUENCE_TEMPLATE_PAGE_ID=491521